build/
.dart_tool/
.packages
android/app/build/
ios/Pods/
ios/.generated/
ios/Flutter/app.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
*.lock
*.bak
*.swp
*.iml
*.idea/
*.o
*.d
*.syms
.DS_Store
*.tmp*
temp*
